body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px; /* height of your navbar */
}
/* Offset anchor targets for fixed navbar */
section[id]::before {
  content: "";
  display: block;
  height: 90px;           /* navbar height */
  margin-top: -90px;     /* same value, negative */
  visibility: hidden;
}
